@use 'helper';

body {
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
  font-size: 2rem;
}

p {
  background-image: url('../images/pngwing.com.png');
  background-size: contain;
  background-position: left;
  min-width: 100%;
}
